#container{
    height: 550px;
    width: 100%;
    padding: 25px;
    text-align: center;
}
#costData{
    padding-top: 15px;
    margin: 0;
}
/* for table ish */
/* padding : t r b l */
#currentDeliveries{
    padding: 50px 0 50px 280px;
    overflow-y: scroll;
    overflow: hidden;
    /* scrolling for just table  */
    /* overflow: auto;
    height:300px; */
}
#currentDeliveries h3{
    text-align: left;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    padding-top: 100px;

    
}
th, td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}